footer{
    position:fixed;
    height:150px;
    background-color:none;
    bottom:0px;
    /*padding-top: 150px;*/
    left:0px;
    right:0px;
    margin-bottom:0px;
}

#textarea1 {
  height: 0px;
}

body#message {
    margin-bottom:150px;
}