@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

@import "signin";
@import "register";
@import "create_group";
@import "message";


#site_name {
  font-family: 'Homemade Apple', cursive;
  font-weight: 100px;
}

// body#register_signin {

//   display: flex;
//   min-height: 100vh;
//   flex-direction: column;
//   background: #ef32d9;  /* fallback for old browsers */
//   background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(to right, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

// }

// div#register_signin {

//   display: flex;
//   min-height: 100vh;
//   flex-direction: column;
//   background: #ef32d9;  /* fallback for old browsers */
//   background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(to right, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

// }

div#below_nav {
  margin-top: 50px;
}

div.slide_sec {
  margin-top: 9px;
  border-bottom: 1px solid grey;
}

div.notification {
  font-size: 100;
  text-transform: capitalize;
}

div {
  .collection {
    font-size: 0.8em;
  }
}

div.card-content {
  span.span_font {
    font-weight: bold;
    font-size: 1.2em;
  }
  p.light.italics {
    font-style: italic;
    margin-top: 0.4em;
  }
  a.waves-effect.waves-light.btn {
      font-size: 0.8em;
      font-weight: bold;
  }
}

div.row {
  div.in.input-field {
    margin-top: 0;
  }
}

.footer-ish {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.user_details {
    font-size: 0.8em;
    
}

img.user_img {
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
}

div.card-image {
    background-size: cover;
}



@media (max-width: 1150px) {
  div.card-content {
    span.span_font {
        font-weight: bold;
        font-size: 1.0em;
    }
    a.waves-effect.waves-light.btn {
        font-size: 0.6em;
    }
  }
	li.collection-item.avatar {
    font-size: 0.8em;
	}
	.collection .collection-item.avatar span.title.profile {
			font-size: 1.6em;
	}
}

@media (max-width: 1030px) {
  div.card-content {
    a.waves-effect.waves-light.btn {
        font-size: 0.6em;
    }
  }
	li.collection-item.avatar {
    font-size: 0.7em;
	}
	.collection .collection-item.avatar span.title.profile {
			font-size: 1.5em;
	}
}

@media (max-width: 1003px) {
  div.card-content {
    span.span_font {
        font-weight: bold;
        font-size: 0.9em;
    }
    a.waves-effect.waves-light.btn {
        font-size: 0.5em;
    }
  }
	li.collection-item.avatar {
    font-size: 0.7em;
	}
	.collection .collection-item.avatar span.title.profile {
			font-size: 1.4em;
	}
}
