<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PostIt</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <div>
    <!-- Nav Section -->
    <div class="navbar-fixed">
      <nav class="lime-text accent-2 z-depth-0" role="navigation">
        <div class="nav-wrapper lime-text accent-2">
          <a href="#" class="brand-logo left"><i class="left large material-icons lime-text lighthen-5">insert_chart  </i><span id="site_name">PostIt</span></a>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="" class="lime-text lighthen-5">Site Guide</a></li>
            <li><a class="lime-text lighthen-5" href="">Create Account</a></li>
            <li><a class="lime-text lighthen-5" href="">Login</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- <div id="landingPage-background" class="valign-wrapper">
      <div class="container landing">
        <div class="row">
          <div class="row">
            <p class="flow-text center-align white-text">
              Connecting with your friends and loved ones is just a message away!
            </p>
          </div>
          <div class="row landing-btn center-align">
            <a class="waves-effect waves-light btn-large btn-flat lime-text accent-2">Get Started With PostIt</a>
          </div>
        </div>
      </div>
    </div> -->

    <div class="parallax-container valign-wrapper cloak">
      <!-- <div class="row"> -->
        <div class="container landing center-align">
           <div class="row center-align"> 
            <div class="row  center">
              <p class="flow-text center white-text">
                Connecting with your friends and loved ones is just a message away!
              </p>
            </div>
            <div class="row landing-btn center-align">
              <a class="waves-effect waves-light btn-large btn-flat lime-text accent-2">Get Started With PostIt</a>
            </div>
            
           </div> 
          
        </div>
      <!-- </div> -->
      <!-- </div> -->
      

      <div class="parallax"><img class="responsive-img" src="../images/jacob-ufkes-195221.jpg" alt="charity section"><div id="overlay"></div>
      </div>  
    </div>

    <div class="parallax-container2 valign-wrapper">
      <!-- <div class="row"> -->
        <div class="paralax container landing center-align">
           <div class="row center-align"> 
            <div class="row  center">
              <p class="flow-text center white-text">
                Connecting with your friends and loved ones is just a message away!
              </p>
            </div>
            <div class="row landing-btn center-align">
              <a class="waves-effect waves-light btn-large btn-flat lime-text accent-2">Get Started With PostIt</a>
            </div>
            
           </div> 
          
        </div>
      <!-- </div> -->
      <!-- </div> -->
      
    </div>



    <div class="row below_landing valign-wrapper">
      <h3 class="center-align">H<span id="guide_bottom_border">ow to use this sit</span>e</h3>
    </div>

    <!-- Site Description -->
    <div class="row">
      <div class="container ">
        <div class="row valign-wrapper">
          <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <!-- <div class="row">
                  <i class="large material-icons">account_box</i>
                </div> -->
                <i class="large account material-icons">account_box</i> 
                <span class="card-title center valign">Create Account</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>

            </div>
          </div>

          <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>

            </div>
          </div>

          <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Side Nav -->
    <ul id="slide-out" class="side-nav">
      <li><div class="divider"></div></li>
      <li class="active"><a class="waves-effect waves-light" href="">Create New Account</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect waves-light" href="">Login</a></li>
      <li><div class="divider"></div></li>
    </ul>

  </div>


  <!--JQuery Script-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Materialize Script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <!--My custom JavaScript -->
  <script src="../js/main.js"></script>
</body>
</html>