<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PostIt</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <div  id="message-board-background">
    <!-- Nav Section -->
    <div class="navbar-fixed">
      <nav class="lime-text accent-2 z-depth-0" role="navigation">
        <div class="nav-wrapper lime-text accent-2">
          <a href="#" class="brand-logo left"><i class="left large material-icons lime-text lighthen-5">insert_chart  </i><span id="site_name">PostIt</span></a>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
          
        </div>
      </nav>
    </div>

    <div class="row">
      <div id="message-container">
        <div class="col l3 hide-on-med-and-down">
          <div class="card-panel grey lighten-4 z-depth-3">
            <div class="row valign-wrapper">
              <div id="img-div" class="col s3">
                <img src="https://pbs.twimg.com/profile_images/660946436801101824/niM7azZS.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s9">
                <span class="black-text">
                  Sola paulina <br>
                  solap@gmail.com
                </span>
              </div>
            </div>
            <div class="divider"></div>
            <div id="content" class="row">
              <br>
              <a class="modal-trigger" href="#modal1"><span class="card-title black-text">GROUPS <i class="material-icons add-groups right">add_box</i></span></a>
              <div class="row group-section">
                <ul>
                  <li class="group-display"><a href="" class="groups grey-text"><span class="left truncate">Learn Python</span><span class="right">6</span></a></li><br>
                  <li class="group-display"><a href="" class="groups grey-text"><span class="left truncate">Learn Python</span><span class="right">6</span></a></li><br>
                  <li class="group-display"><a href="" class="groups grey-text"><span class="left truncate">Learn Python</span><span class="right">6</span></a></li><br>
                  <li class="group-display"><a href="" class="groups grey-text"><span class="left truncate">Learn Python</span><span class="right">6</span></a></li><br>
                  <li class="group-display"><a href="" class="groups grey-text"><span class="left truncate">Learn Python</span><span class="right">6</span></a></li><br>
                  <li class="group-display"><a href="" class="groups grey-text"><span class="left truncate">Learn Python</span><span class="right">6</span></a></li><br>
                  <li class="group-display"><a href="" class="groups grey-text"><span class="left truncate">Learn Python</span><span class="right">6</span></a></li><br>
                  <li class="group-display"><a href="" class="groups grey-text"><span class="left truncate">Learn Python</span><span class="right">6</span></a></li><br>
                  <li class="group-display"><a href="" class="groups grey-text"><span class="left truncate">Learn Python</span><span class="right">6</span></a></li><br>
                  <li class="group-display"><a href="" class="groups grey-text"><span class="left truncate">Learn Python</span><span class="right">6</span></a></li><br>
                  <li class="group-display"><a href="" class="groups grey-text"><span class="left truncate">Learn Python</span><span class="right">6</span></a></li><br>
                  <li class="group-display"><a href="" class="groups grey-text"><span class="left truncate">Learn Python</span><span class="right">6</span></a></li><br>
                  <li class="group-display"><a href="" class="groups grey-text"><span class="left truncate">Learn Python</span><span class="right">6</span></a></li><br>
                  <li class="group-display"><a href="" class="groups grey-text"><span class="left truncate">Learn Python</span><span class="right">6</span></a></li><br>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 l9">
          <div class="card-panel grey lighten-4 z-depth-3">
            <div class="row">
              
            </div>
          </div>
        </div>
        
      </div>
    </div>
 
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <!-- <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div> -->
      <div class="row modal-close-div">
        <a href="" class="modal-action modal-close waves-effect waves-green btn-flat right"><i class="material-icons center">close</i></a>
      </div>

      <!-- <div class="container register center-align"> -->
      <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card white">
            <div class="card-content black-text">
              <div class="row card-title-area">
                <span class="card-title create">Create a group</span>
                <p class="flow-text par grey-text">Groups are where you communicate with your friends, family and teams. They are best utilized when organized around a particular purpose</p>
              </div>
              <div class="row card-form-section">

                <form class="col s12">
                  <div class="divider"></div>
                  <br>
                    <div class="row">
                      <div class="input-field name-desc col s12">
                        <input placeholder="e.g learn-python" id="name" type="text">
                        <label for="name">Name</label>
                      </div>
                      <p class="flow-text form grey-text">Names should be short and not more than 20 chracters</p>
                    </div>
                    <div class="row">
                      <div class="input-field name-desc col s12">
                        <input placeholder="Learn python" id="description" type="text">
                        <label for="description">Purpose (optional)</label>
                      </div>
                      <p class="flow-text form grey-text">What's this group about?</p>
                    </div>
                    <div class="row chips-row">
                      <p class="flow-text above-chip">Add members to group (optional)</p>
                      <div class="chips chips-autocomplete"></div>
                      <p class="flow-text below-chip grey-text">Search by username</p>
                    </div>                    
                    <!-- <div class="row"> -->

                      <div class="row">
                        <div class="input-field col s12">
                          <button class="btn lime accent-4 right waves-effect waves-light center" type="submit" name="action">Create Group
                          </button>
                        </div>
                      </div>
                    <!-- </div> -->
                  </form>
                </div>

              </div>
                
            </div>
          </div>
        </div>
        
      <!-- </div> -->
    </div>

    

    <!-- Side Nav -->
    <ul id="slide-out" class="side-nav">
      <li><div class="divider"></div></li>
      <li class="active"><a class="waves-effect waves-light" href="">Create New Account</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect waves-light" href="">Login</a></li>
      <li><div class="divider"></div></li>
    </ul>

  </div>


  <!--JQuery Script-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Materialize Script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <!--My custom JavaScript -->
  <script src="../js/main.js"></script>
</body>
</html>