<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body id="register_signin">

  <div>
    <!-- Nav Section -->
    <div class="navbar-fixed">
      <nav class="purple darken-4">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center"><i class="left large material-icons">insert_chart  </i><span id="site_name">PostIt</span></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="signin.html">Login</a></li>
            <li><a href="signup.html">Create Account</a></li>
          </ul>
        </div>
      </nav>
    </div>


    <div id="below_nav" class="row">
      <!-- Slider Column -->
      <div class="slide_sec col l8 m12 s12">
        <div class="slider">
          <ul class="slides">
            <li>
              <img src="https://farm4.staticflickr.com/3077/2607404802_675f6419b2.jpg">
              <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
            <li>
              <img src="http://lorempixel.com/580/250/nature/2">
              <div class="caption left-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
            <li>
              <img src="http://lorempixel.com/580/250/nature/3">
              <div class="caption right-align">
                <h3>Right Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
            <li>
              <img src="http://lorempixel.com/580/250/nature/4">
              <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Login Form Column -->
      <div id="login_form" class="col l4 m12 s12">
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Login to your Account</span>
                <div class="divider"></div>
                <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="username" type="text" class="validate">
                        <label for="username">Username</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                      </div>
                    </div>
                    <div class="row">
                      <a class="waves-effect waves-light btn">Login</a>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card-action">
               <span class="white-text">New to PostIt?</span>
                <a href="#">Create an account</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Footer Section -->
    <footer class="page-footer blue-grey darken-1">

      <div class="footer-copyright blue-grey darken-2">
        <div class="container">
        © 2017 Ayodele Victor
        <a class="grey-text text-lighten-4 right" href="#!">Check Code on GitHub</a>
        </div>
      </div>
    </footer>



  </div>
  <div class="container"> </div>

  <!--SCRIPTS-->

  <!--JQuery Script-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!-- Materialize Script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

  <!-- My custom JavaScript -->
  <script src="../js/main.js"></script>
</body>
</html>
