<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PostIt</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <div>
   <div class="parallax-container">
      <!-- <div class="row"> -->
        <div class="container register center-align">
          <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
              <div class="card white z-depth-5">
                  <div class="card-head"></div>
                <div class="card-content black-text">
                  <span class="card-title v-align"><a href="#" class="brand-logo"><i class="material-icons lime-text lighthen-5">insert_chart</i><span id="site_name">PostIt</span></a></span>
                  <p>Log into your account.</p>
                  <br>
                  <br>
                               
                  <div class="row form-section">
                    
                  <p class="left">Required fields are marked *</p>
                    <form class="col s12">
                      <div class="divider"></div>
                      <br>
                        
                        <div class="row">
                          <div class="input-field col s12">
                            <input placeholder="John Doe" id="username" type="text">
                            <label for="username">Username *</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input placeholder="Your Password" id="password" type="password">
                            <label for="password">Password *</label>
                          </div>
                        </div>
                        
                        <div class="row">
    
                          <div class="row">
                            <div class="input-field col s12">
                              <button class="btn lime accent-4 waves-effect waves-light center" type="submit" name="action">Login
                                <i class="material-icons left">person</i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                  </div>
                  
                </div>
                <div class="card-action">
                  <span class="black-text">New to PostIt?  </span>
                  <a href="#" class="green-text darken-4">Create a new account</a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      <!-- </div> -->
      <!-- </div> -->
      

      <div class="parallax"><img class="responsive-img" src="../images/jacob-ufkes-195221.jpg" alt="charity section"><div id="overlay"></div>
      </div>  
    </div>
<!-- Footer Section -->

  <div class="container"> </div>
  </div>  

  <!--SCRIPTS-->

 <!--JQuery Script-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Materialize Script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <!--My custom JavaScript -->
  <script src="../js/main.js"></script>
</body>
</html>
