// #landingPage-background {
//   background-image: url("../images/jacob-ufkes-195221.jpg");
//   background-size: cover;
//   background-repeat: no-repeat;
//   height: 100vh;
//   position: relative;  
// }

// #landingPage-background::before {
//   content: '';  
//   position: absolute; 
//   left: 0; right: 0;
//   top: 0; bottom: 0;
//   background: rgba(0,0,0,.5);
// }

#sidenav-overlay {
  position: relative; 
 /* background-color: initial; */
}

.parallax-container {
  .landing {
    position: relative;
  }
  .below_landing {
    position: relative;
  }
}

.landing-btn {
  .btn-large.btn-flat {
  border: 2px solid green;  
  border-radius: 10px;
  }
  .btn-large.btn-flat.lime-text.accent-2:hover {
    background-color: green;
    color: white;
  }
}

.parallax-container {
  min-height: 100vh;   
  min-width: 100vw;
  // line-height: 0;
  height: auto;  
  color: rgba(255,255,255,1); 
  .container {
    width: 100vw;
  }
}

.parallax-container.valign-wrapper.cloak {
  min-height: 82vh;   
  min-width: 100vw;
  // line-height: 0;
  // height: auto;  
  color: rgba(255,255,255,1); 
  .container {
    width: 100vw;
  }
}

#overlay {
  background: #000;
  min-height: 500px;
  // line-height: 0;
  height: 100%;
  min-width: 100%; 
  opacity: 0.5;
  top: 0;
  left: 0;
  position: absolute; 
  padding: 0;
  transition: opacity .5s;
}

.below_landing {
  margin-top: -25px;
  height: 200px;
  background-color:#E9DCCC;
  min-width: 100vw;
  #guide_bottom_border {
    border-bottom: 4px solid #c6ff00;
  }
  h3 {
    font-weight: bold;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 900px) {
  .parallax-container2 {
    display: none;
  }
}

@media only screen and (max-width : 899px) {
  .parallax-container.valign-wrapper.cloak {
    display: none;
  }

  .parallax-container2 {
    min-height: 82vh;
    // min-width: 100vw;
    // line-height: 0;
    // height: auto;  
    color: rgba(255,255,255,1); 
    .container {
      // width: 100vw;
      padding: 20px;
    }
  }

  .parallax-container2 {
    background-image: url('../js/utils/images/jacob-ufkes-195221.jpg');
    // background-image: url('../../client/dev/js/utils/images/jacob-ufkes-195221.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    color: #000;
    // position: relative;
    // min-height: auto;
    // font-size: 0.9em;
  }

    .landing-btn {
      .btn-large.btn-flat {
      border: 2px solid green;  
      border-radius: 10px;
      }
      .btn-large.btn-flat.lime-text.accent-2:hover {
        background-color: green;
        color: white;
      }
    }
  
    .parallax-container2::before {
      content: '';  
      position: absolute; 
      left: 0; right: 0;
      top: 0; bottom: 0;
      background: rgba(0,0,0,.5);
      height: 650px;
      // line-height: 0;
      // height: 100%;
      // min-width: 100%; 
    }
  
    .paralax.container {
      /* padding-top: 120px; */
       position: relative; 
      /* left: 0; right: 0;
      top: 0; bottom: 0; */
    }
  
  }
  
