

.card {
  .card-action {
    vertical-align: middle;
    padding: 8px 24px;
    .card-action-text {
      margin-top: -15px;
      display: inline;
    }

    // a.google-logo {
    //   img {
    //       width: 25px;
    //       height: 30px;
    //       margin-top: auto;
    //   }
    // }
  }
}